body 
{
	background-color: silver;
}
.menu li
{
	display: inline-block;
	list-style: none;	
	margin-left: -5px;	
}
a:link
{
	text-decoration: inherit;
	text-decoration: none;
	color: white;
	border-style: solid;
	height:  100px;
	padding: 10px;
	background-color: #6bab96;
}
a:hover
{	
	background-color: red;
	font-size: 120%;
	
}
a:visited
{
	text-decoration: none;
	color: white;
	border-color: rgb(0, 235, 235);
}
.actual a
{
	background-color: #3BDAA6;
}
.preguntas
{
	margin-top: -18px;
	background-color: #6bab96;
	width: inherit;
}
.preguntas:hover
{
	cursor: pointer;
}
#preguntas
{
	max-width: 50%;
	background-color: blue;	
}
